#title {
    color: #a978ff
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


header {
  background-color: #222;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav a {
  color:#B094E0;
  text-decoration: none;
}


main {
  padding: 1rem;
  min-height:81.4vh; /* forcing the footer to the bottom for testing on my desktop */
}

footer {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}
