#title {
    color: #a978ff
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


header {
  background-color: #222;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav a {
  color:#BCA5E4; /* meets wcag AAA 7.3:1 */
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFAC00
}
main {
  padding: 1rem;
  min-height:81.4vh; /* forcing the footer to the bottom for testing on my desktop */
}

footer {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}

table {
  width: 20%;
  border-collapse: collapse;
  margin: 1rem 0;
}

caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) td {
  background-color: #fafafa;
}

@media (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
